<h2>Welcome to Ritly!</h2>
<p>Please enter your URL to be shortened.</p>


<%= form_for :link, url: links_path, method: :post do |f| %>
    <%= f.text_field :original_link, placeholder: "enter your link" %> <br>
    <%= f.submit %>
<% end %>




