 <h2>Here is a preview of your shortened link.</h2>
 <p>Click on the link to get to your URL.</p>


 <div>
        <div> Link ID: <%= @link.id %> </div>
        <div> Original Link: <%=@link.original_link%> </div>
        <div> Shortened Link:<a href="/go/<%=@link.random_generated_string%>"/>localhost:3000/go/<%=@link.random_generated_string%></div> 
</div>
    