 <h2>Here is your shortened link</h2>


 <div>
        <div> <%= @link.id %> </div>
        <div> <%=@link.original_link%> </div>
        <div> <%= @link.random_generated_string %> </div> 
     


 </div>