 <h2>Here is your shortened link</h2>


        <div>
            Original Link: <%= @link.original_link %><br>

            Shortened Link: <button <a href= "localhost:3000/links/save">"localhost:3000/links/#{SecureRandom.base64}" type="button" class="btn btn-success"</button></a>
        </div>

